*{margin: 0;
  padding: 0;
  box-sizing: border-box;}

/*Debug*/

.debug.top_bar {
    background-color: beige;
    height: 100px;
}

.debug.container_top{
    background-color: aqua;
    height: 500px;
}

.debug.col_left{
    background-color: greenyellow;
    height: 300px;
}
.debug.col_right{
    background-color: pink;
    height: 300px;
}

.debug.container{
    background-color: darkgrey;
    padding: 50px 0px;
}

.bord{
    border: 1px dashed black;
}

.debug.cnt{  
    padding: 50px 0px; 
}

.debug.col{
    height: 500px;
    width: calc(100% / 3);
}

.debug.sct_title{
    background-color: red;
    height: 50px;
}

.debug.sponsor{
    background-color: lightgreen;
}

.debug.question{
    height: 50px;
}

.debug footer{
    height: 500px;
}

.debug.foot_bar{
    background-color: yellowgreen;
    height: 50px;
}

.debug.col{
    background-color: aliceblue;
    height: 300px;
}

/*Regole css*/

.flex{
    display: flex;
    flex-wrap: wrap;
}

.top_bar{
    justify-content: space-between;
    align-content: center;
}

.top_bar ul, a{
    text-decoration: none;
}

.top_bar li{
    display: inline-block;
}

.container_top .top_cnt, h1, .foot_cnt{
    max-width: 70%;
    margin: auto;
    padding: 30px 0px;
}

.col_left{
    width: 30%;
}

.col_right{
    width: 70%;
}

.cnt{
    max-width: 60%;
    margin: auto;
    padding: 20px 0px;
}

.column{
    justify-content: space-between;
}

.sponsor{
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
}

.sponsor .col{
    width: calc(100% / 3);
}

.col .card{
    width: 50%;
}

.col.overflow{
    overflow-y: hidden;
}

.cnt h2{
    margin-bottom: 50px;
}

footer{
    background-color: black;
}

.foot_cnt{
    justify-content: space-between;
}

.foot_cnt .col{
    width: calc(100% / 5);
}


